{% extends "base.html" %}
{% block content %}
    {% if not is_pakke %}
        <h1>{{ produkt['navn'] }}</h1>
        <div id="prod">
            <img src='{{ url_for('static', filename='') }}{{ produkt["navn"] }}.jpg' alt="{{ produkt["navn"] }}" width="50%"/>
            <p>{{ produkt['beskrivelse'] }}</p>
        </div>
        <p class="total">{{ produkt['pris'] }} dkk</p>
        <button onclick="dinmor(['{{ produkt['navn'] }}'])">Put i kurv</button>
    {% else %}
        {% set navne = namespace(value=[]) %}
        <div id="prod_img">
            {% for rum in produkt %}
                <img src='{{ url_for('static', filename='') }}{{ rum["navn"] }}.jpg' alt="{{ rum["navn"] }}" width="30%"/>
                {% if navne.value.append(rum["navn"]) != "None" %}{% endif %}
            {% endfor %}
        </div>
        <button onclick="dinmor({{ navne.value }})">Put i kurv</button>
    {% endif %}

    <script charset="utf-8">
        function dinmor(navn) {
            fetch("/api/kurv", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body:   JSON.stringify({"navn": navn}),
            }).then((res) => {
                location.reload();
            });
        }
    </script>
{% endblock %}
